body {
    background-color: black;
}

#gerador h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
}

.barras {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

input {
    width: 100px;
    color: black;
    background-color: white;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Allura', cursive;
}

#barra1 {
    background-color: red;
}

#barra2 {
    background-color: rgb(255, 123, 0);
}

#barra3 {
    background-color: yellow;
}

#barra4 {
    background-color: green;
}

#barra5 {
    background-color: cyan;
}

#barra6 {
    background-color:blue;
}


#barra7 {
    background-color: indigo;
}

#barra8 {
    background-color: purple;
}

#barra9 {
    background-color: pink;
}

#barra10 {
    background-color:goldenrod;
}

#barra11 {
    background-color: gray;
}


